<h1 mat-dialog-title>Import data</h1>
<div mat-dialog-content>
  <p>
    Privately import your data. It <strong>never</strong> leaves your device.
    <button
      mat-icon-button
      color="warn"
      matTooltip="Whichever import method you choose, a copy is stored locally on your device only. You can remove this data at any time. Evley.app is a read only experience.">
      <mat-icon>info</mat-icon>
    </button>
  </p>

  <mat-form-field>
    <mat-select placeholder="Import method"
                name="importMethod"
                (selectionChange)="onSelectionChange($event.value)">
      <mat-option *ngFor="let item of data.methods"
                  [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <input *ngIf="isCSV"
          type="file"
          name="file"
          (change)="onFileChange($event)"
          accept=".csv">
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Cancel</button>
  <button mat-flat-button
          color="primary"
          (click)="importData()"
          [disabled]="!canImport">
          Import
  </button>
</div>
